
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;

    --primary: 220 100% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;

    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 23%;
    --input: 240 4% 16%;
    --ring: 240 4% 16%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 220 100% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 240 4% 23%;
    --sidebar-ring: 240 4% 16%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-app-dark text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .dotted-border {
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
  }
}
